{# templates/candidat/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un candidat{% endblock %}

{% block body %}
    <h1>Créer un candidat</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

    <div class="col-md-6">
        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-12">
        {{ form_row(form.adresse, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-12">
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <h3>Expériences</h3>
    <div class="col-md-12">
        {{ form_row(form.experiences) }}
    </div>

    <h3>Formations</h3>
    <div class="col-md-12">
        {{ form_row(form.formations) }}
    </div>

    <h3>Langues</h3>
    <div class="col-md-12">
        {{ form_row(form.langues) }}
    </div>

    <h3>Badges</h3>
    <div class="col-md-12">
        {{ form_row(form.badges) }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
