{% extends 'base.html.twig' %}

{% block title %}Créer Candidat{% endblock %}

{% block body %}
    <h1>Créer un nouveau candidat</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

    <div class="mb-3">
        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.adresse, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <h3>Expériences</h3>
    {{ form_row(form.experiences) }}

    <h3>Formations</h3>
    {{ form_row(form.formations) }}

    <h3>Langues</h3>
    {{ form_row(form.langues) }}

    <h3>Badges</h3>
    {{ form_row(form.badges) }}

    <h3>Compétences</h3>
    {{ form_row(form.competences) }}

    <button class="btn btn-success">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}
